__pycache__
.*.sw?
dist
.tox
.coverage
build/
toolforge.spec
debian/tmp
debian/toolforge-cli
debian/.debhelper
debian/files
debian/debhelper-build-stamp
debian/*debhelper
debian/*substvars
.pybuild
build/
